<div class="nav-wrapper">
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">DrawBox</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="brush" href="#">Brush</a></li>
                {{#if username}}
                    <li><a class="logout" href="/logout">Log Out</a></li>
                {{else}}
                    <li><a class="reg-auth-btn" href="#">Reg / Auth</a></li>
                {{/if}}
                    <li><a href="#">{{username}}</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a class="brush" href="#">Brush</a></li>
        {{#if username}}
            <li><a class="logout" href="/logout">Log Out</a></li>
        {{else}}
            <li><a class="reg-auth-btn" href="#">Reg / Auth</a></li>
        {{/if}}
        <li><a class="user-name-nav" href="#">{{username}}</a></li>
    </ul>
</div>
<div id="cont">
    <canvas id="canvas"></canvas>
    <div class="painting-user"></div>
    <div id="brush-set" class="blue-grey darken-4 hide">
        <h6>Color</h6>
        <div id="colors" class="blue-grey darken-4">
            <div id="red" class="color activ"><i class="material-icons check">check</i></div>
            <div id="green" class="color"></div>
            <div id="blue" class="color"></div>
            <div id="yellow" class="color"></div>
            <div id="magenta" class="color"></div>
            <div id="white" class="color"></div>
            <div id="black" class="color"></div>
        </div>
        <h6>Brush size</h6>
        <div class="input-field size-brush">
            <select class="select-size">
                <option value="" disabled selected>Size</option>
                <option>3</option>
                <option>6</option>
                <option>10</option>
                <option>16</option>
                <option>22</option>
                <option>30</option>
                <option>50</option>
            </select>
        </div>
        <div id="btns-group">
            <a class="waves-effect waves-light btn btn-ok">Ok</a>
            <a class="waves-effect waves-light btn btn-cancel">Cancel</a>
        </div>
    </div>
    <div id="reg-auth" class="blue-grey darken-4 hide">
        <div class="row">
            <div class="col s12">
                <ul class="tabs blue-grey darken-4">
                    <li class="tab col s6"><a class="active"  href="#test1">Sign Up</a></li>
                    <li class="tab col s6"><a href="#test2">Sign In</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12 center-align">
                <form method="POST" class="row signup-form">
                    <br>
                    <div class="input-field col s12">
                        <input id="username" type="text" name="username" class="validate">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn" style="margin-top: 50px">
                        Sign Up
                    </button>
                </form>
            </div>
            <div id="test2" class="col s12 center-align">
                <form method="POST" class="row signin-form">
                    <br>
                    <div class="input-field col s12">
                        <input id="username2" type="text" name="username" class="validate">
                        <label for="username2">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password2" type="password" name="password" class="validate">
                        <label for="password2">Password</label>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn" style="margin-top: 50px">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
